.row1 {
    height: 890px;
}

.super-wide {
    width: 100%;
}
.super-short {
    height: 492px;
}    
h1 {
    text-align: center;
}


html {
box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.float-left {
    float: left;
    padding: 20px;
}
    
.port {
    background-color: lightblue;
    text-align: center;
    padding: 20px;
}
.my-column1 {                           /* from portfolio html */
    border: 4px black;
    height: 225px;
    text-align: center;
    padding:50px;
    font-size: 35px;
    font-weight: bolder;   
}
.contact-column {                          /* From contact html */
 height: 850px;
 text-align: center;
 padding: 30px;

}
address {
    margin-top: 150px;
    display: block;
  font-size: 20px;
}

.bg-info {
    display:block;
    font-size: 20px;
    
    
}

.first-nm {                             /* from contact/form 1st name */
    margin-bottom: 20px;
    margin-top: 100px;
}

.email-add {                             /* from contact/from Email */
    margin-bottom: 20px;
}

.textt-form {
    height: 50px;
    margin-bottom: 15px;
}
.submit-b {
width: 40px;
height: 35px;

}



.footer {
    text-align: center;
    width: 1210px;

   
}